.edit_form
  %h2.form_header Edit
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .photo-form
      .field
        %h4.form_header Update Photo
        = f.file_field :image, :required => false, :autofocus => true
      %br
    .field
      %h4.form_header Name
      = f.text_field :name, :required => false, :autofocus => true, placeholder: 'name', class: 'form-control'
    %br
    .field
      %h4.form_header Surname
      = f.text_field :surname, :required => false, :autofocus => true, placeholder: 'surname', class: 'form-control'
    %br
    .field
      %h4.form_header Password
      .p.form-text leave blank if you don't want to change it
      - if @minimum_password_length
        .small.form-text (#{@minimum_password_length} characters minimum)
      = f.password_field :password, :required => false, :autofocus => true, placeholder: 'password', class: 'form-control'
    %br  
    .field
      = f.password_field :password_confirmation, :required => false, :autofocus => true, placeholder: 'confirmation', class: 'form-control'
    %br
    .field
      .p.form-text (we need your current password to confirm your changes)
      = f.password_field :current_password, :required => false, :autofocus => true, placeholder: 'current password', class: 'form-control'
    .actions
      %button.btn.form_button Update
  %h4.form_header Cancel my account
  = button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn form_button"
  %br
  = link_to "Back", :back, class: "btn form_button"