.main
  .container
    .row
      .col-4
        %h2= @actor.full_name
        -if @actor.image 
          %img.director-img{ src: "https://image.tmdb.org/t/p/w185#{@actor.image}", alt: @actor.full_name }
        -else
          %img.director-no-img
        %br
        %ul.attributes-list
          %li
            .attribute-name nationality
            .attribute-value= @actor.place_of_birth
          %li
            .attribute-name birthday
            .attribute-value= @actor.date_of_birth
      .col-8
        %h4.section-name Biography
        .text-justify= @actor.biography
        %ul.home-movie-list
          -@actor.movies.each do |movie|
            %li.movie-title
              %img.movie-home-img{ src: "https://image.tmdb.org/t/p/w300#{movie.image}", alt: movie.name }
              %br
              = link_to movie.name, movie_path(movie), class: 'link'
              .small= "#{movie.release_date.year}" #{movie.country}"