.movie-main
  %h3.font-weight-bold= @movie.name
  .container
    .row
      .col-4
        -if @movie.image 
          %img.movie-img{ src: "https://image.tmdb.org/t/p/w300#{@movie.image}", alt: @movie.name }
        -else
          %img.movie-no-img
      .col-8
    .row
      .col-4
        %br
        .control-container
          #like-container
            - if !current_user.nil? && current_user.liked?("Movie", @movie.id)
              = render("likes/unlike", likeable: @movie)
            - else
              = render("likes/like", likeable: @movie)
          #wish-container
            -if !current_user.nil? && current_user.wished?("Movie", @movie.id)
              = render("wishes/unwish", wishable: @movie)
            - else
              = render("wishes/wish", wishable: @movie)
        %br
        %ul.attributes-list
          %li
            .attribute-name director
            = link_to "#{@movie.director&.full_name}", director_path(@movie.director), class: 'attribute-link'
          %li
            .attribute-name category
            .attribute-value= @movie.category&.name
          %li
            .attribute-name duration
            .attribute-value= @movie.duration
          %li
            .attribute-name release date
            .attribute-value= @movie.release_date
      .col-8
        %h4.section-name Overview
        .text-justify= @movie.description
        %h4.section-name Actors
        %ul.actor-list
          =render @actors
    .row
      .col-12
        %h4.section-name= "Comments (#{@movie.comments.count})"
        %br
        %ul.be-comment-block#comments
          =render @comments
        =paginate @comments
        -if !current_user.nil?
          =render("comments/create", commentable: @movie)
    .row
      %h4.section-name You might like it
      %ul.home-movie-list
        -@movies.each do |movie|
          %li.movie-title
            -if movie.image
              %img.movie-home-img{ src: "https://image.tmdb.org/t/p/w300#{movie.image}", alt: movie.name }
            - else
              %img.movie-no-img    
            %br
            = link_to movie.name, movie_path(movie), class: 'link'
            .small= movie.release_date.year