.main
  %h3.font-weight-bold= @movie.name
  .container
    .row
      .col-4
        .img.movie-img{ src: @movie.image, alt: @movie.name }
      .col-8
        %div.embed-responsive-embed-responsive-16by9
          %iframe.allowfullscreen.embed-responsive-item.movie-clip{ src: "" } 
    .row
      .col-4
        %br
        %ul.attributes-list
          %li
            .attribute-name director
            = link_to "#{@movie.director&.full_name}", director_path(@movie.director), class: 'attribute-link'
          %li
            .attribute-name category
            .attribute-value= @movie.category&.name
          %li
            .attribute-name duration
            .attribute-value= @movie.duration.to_s(:time)
          %li
            .attribute-name release date
            .attribute-value= @movie.release_date
      .col-8
        .section-name Pilot
        .text-justify= @movie.description
        .section-name Actors
        %ul.actor-list
          -@actors.each do |actor|
            %li.movie-title
              .img{ src: actor.image, class: 'actor-img'}
              = link_to actor.full_name, actor_path(actor.id), class: 'link' 