.main
  .container
    .row
      .col-4
        %h2= is_exist(@director.full_name)
        %img.director-img{ src: "https://image.tmdb.org/t/p/w300#{@director.image}", alt: @director.full_name }
        %br
        %ul.attributes-list
          %li
            .attribute-name nationality
            .attribute-value= is_exist(@director.place_of_birth)
          %li
            .attribute-name birthday
            .attribute-value= is_exist(@director.date_of_birth)
      .col-8
        %h4.section-name Biography
        .text-justify= is_exist(@director.biography)
        -if @director.movies.count > 0
          %h4.section-name Movies made
          %ul.home-movie-list
            -@director.movies.each do |movie|
              %li.movie-title
                %img.movie-home-img{ src: "https://image.tmdb.org/t/p/w300#{movie.image}", alt: movie.name }
                %br
                = link_to movie.name, movie_path(movie), class: 'link'
                .small= "#{movie.release_date.year}" #{movie.country}"
        -if @director.serials.count > 0
          %h4.section-name Serials made
          %ul.home-movie-list
            -@director.serials.each do |movie|
              %li.movie-title
                %img.movie-home-img{ src: "https://image.tmdb.org/t/p/w300#{movie.image}", alt: movie.name }
                %br
                = link_to movie.name, movie_path(movie), class: 'link'
                .small= "#{movie.release_date.year}" #{movie.country}"
