.main
  .container
    .row
      .col-4
        %h2= @director.full_name
        .img.director-img{ src: @director.image, alt: @director.full_name }
        %br
        %ul.attributes-list
          %li
            .attribute-name nationality
            .attribute-value= @director.country.name
          %li
            .attribute-name birthday
            .attribute-value= @director.date_of_birth
      .col-8
        %h4.section-name Biography
        .text-justify= @director.biography
        %ul.home-movie-list
          -@director.movies.each do |movie|
            %li.movie-title
              = link_to movie.name, movie_path(movie), class: 'link'
              .small= "#{movie.release_date.year}" #{movie.country}"