.navbar.justify-content-center
  %a.navbar-brand{href: root_path}
    =image_tag 'download.png', alt: 'movie-portal', height: '50px', width: '50px'
    Movie-portal
  .nav-item
    = link_to 'Home', root_path, class: 'nav-link'
  .nav-item
    = link_to 'Films', movies_path, class: 'nav-link'
  .nav-item
    = link_to 'Profile', user_root_path, class: 'nav-link'
  - if current_user  
    .nav-item
      = link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link'
  -else
    .nav-item
      = link_to 'Log in', user_session_path, class: 'nav-link'
  .nav-item
    =render('search/search')
